.event-content
    .event-content--grid
        .event-content-description
            h1 Huge Party
            p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam fermentum aliquet blandit. Maecenas sodales magna tortor, sit amet sodales metus condimentum at. Cras ut est non diam gravida luctus. Proin tortor est, congue eu ex eu, vulputate vulputate lacus. Praesent nec lectus dignissim, pellentesque metus sit amet, finibus dui. Ut placerat mi a orci egestas, nec mollis risus facilisis. Etiam accumsan nisi sem, eget facilisis arcu consectetur non. Fusce volutpat nisi sapien, in dictum urna faucibus nec. Mauris mollis eu justo at tincidunt. Nam facilisis dignissim massa. Quisque lobortis neque blandit, lobortis ipsum sed, feugiat ante. Morbi venenatis sodales ante sed efficitur. Pellentesque elementum sit amet mi quis scelerisque. Donec lacus odio, volutpat quis ex sit amet, fermentum faucibus augue.
        .coop-event-content-image