footer.footer
    nav.footer-grid
        .footer-menu
            ul.footer-menu--grid
                li.footer-menu-item
                    a(href="index.html" class="footer-menu--anchor") HOME
                li.footer-menu-item
                    a(href="ie-house.html" class="footer-menu--anchor") IE-HOUSE
                li.footer-menu-item
                    a(href="coop.html" class="footer-menu--anchor") CORPORATE
                li.footer-menu-item
                    a(href="bar.html" class="footer-menu--anchor") BAR
                li.footer-menu-item
                    a(href="about-us.html" class="footer-menu--anchor") ABOUT US
                li.footer-menu-item
                    a(href="index.html" class="footer-menu--anchor")
                        img(src="assets/imgs/ie_logotype_footer.png" class="" alt="Infinity Entertainment")
            .footer-menu-social-networks--flex
                a(href="index.html" class="footer-menu-social-networks-facebook")
                    i.fab.fa-facebook
                a(href="index.html" class="footer-menu-social-networks-instagram")
                    i.fab.fa-instagram