header.header
    .header--flex
        .header-full-menu
            button.header-full-menu--toggle
            nav.header-full-menu-nav.display--none
                a(href='index.html') Home
                a(href='ie-house.html') IE-House
                a(href='coop.html') Huge
                a(href='bar.html') Night Club
                a(href='about-us.html') About

        .header-search.display--none
            button.header-search-toggle
                i.fa.fa-search
        .header-logo
            a(href="index.html")
                img(src="assets/imgs/ie_logotype_header.png" class="" alt="Infinity Entertainment")
