.index-content
    section.content-full-width-slider
        ul.content-full-width-slider-slides
            li.content-full-width-slider-slide.slide--selected
                .content-full-width-slider-slide--wrapper
                    h2.content-slider-coverline-headline Kika Nieto
                    h3.content-slider-coverline-category IE-House
                    h4.content-slider-coverline-date 2018.FEB.23
                    a(href="in_house/kika_nieto.html" class="content-slider-coverline-button anchor-primary") Ver
            li.content-full-width-slider-slide
                .content-full-width-slider-slide--wrapper
                    h2.content-slider-coverline-headline Selina
                    h3.content-slider-coverline-category Co-op
                    h4.content-slider-coverline-date 2018.FEB.28
                    a(href="in_house/kika_nieto.html" class="content-slider-coverline-button anchor-primary") Ver
            li.content-full-width-slider-slide
                .content-full-width-slider-slide--wrapper
                    h2.content-slider-coverline-headline Alpha-Eta
                    h3.content-slider-coverline-category Bar
                    h4.content-slider-coverline-date 2018.MAR.03
                    a(href="in_house/kika_nieto.html" class="content-slider-coverline-button anchor-primary") Ver
        ul.content-full-width-slider-arrows-navigation
            li.content-full-width-slider-arrow
                a(href="#" class="content-full-width-slider-arrows-navigation-next") &rarr;
            li.content-full-width-slider-arrow
                a(href="#" class="content-full-width-slider-arrows-navigation-prev") &larr;
        ol.content-full-width-slider-dots-navigation
            li.content-full-width-slider-dot
                a(href="#" class="content-full-width-slide-dot-anchor slide--selected") 1
            li.content-full-width-slider-dot
                a(href="#" class="content-full-width-slide-dot-anchor") 2
            li.content-full-width-slider-dot
                a(href="#" class="content-full-width-slide-dot-anchor") 3

    hr.horizontal-rule

    section.content-categories
        h2 EVENTOS FEBRERO
        .content-categories--grid
            .content-category--grid
                .content-category--wrapper
                    img(src="https://source.unsplash.com/random/424x256?v=2" class="content-category-wrapper-img" alt="Kika Nieto")
                .content-category-details
                    .content-category-details-coverline--grid
                        .content-category-details-coverline-date
                            h4 2018.FEB.23
                        .content-category-details-coverline-headline
                            h2 Kika Nieto
                        .content-category-details-coverline-category
                            h3 IE-House
                        .content-category-details-coverline-button
                            a(href="quote.html" class="anchor-primary") Cotizar
            .content-category--grid
                .content-category--wrapper
                    img(src="https://source.unsplash.com/random/424x256?v=3" class="content-category--wrapper-img" alt="Selina")
                .content-category-details
                    .content-category-details-coverline--grid
                        .content-category-details-coverline-date
                            h4 2018.FEB.28
                        .content-category-details-coverline-headline
                            h2 Selina
                        .content-category-details-coverline-category
                            h3 Huge
                        .content-category-details-coverline-button
                            a(href="quote.html" class="anchor-primary") Cotizar
            .content-category--grid
                .content-category--wrapper
                    img(src="https://source.unsplash.com/random/424x256?v=4" class="content-category--wrapper__img" alt="Alpha-Eta")
                .content-category-details
                    .content-category-details-coverline--grid
                        .content-category-details-coverline-date
                            h4 2018.MAR.03
                        .content-category-details-coverline-headline
                            h2 Alpha-Eta
                        .content-category-details-coverline-category
                            h3 Night Club
                        .content-category-details-coverline-button
                            a(href="quote.html" class="anchor-primary") Cotizar
